body {
  background-color: #0d1b2a;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-form {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 100px;
}

.login-form h1 {
  text-align: center;
  font-size: 30px;
  color: #333;
  margin: 0;
}

.input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  background-color: white;
  outline: none;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  padding: 20px 25px;
}

.input-field .icon {
  position: absolute;
  right: 25px;
  top: 35%;
  transform: translate(-50%);
  font-size: 16px;
  color: #333;
}

.input-field input::placeholder {
  color: #333;
}

.remember-me {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: 10px 0 15px;
}

.remember-me label {
  margin-right: 10px;
}

.remember-me input {
  margin-right: 10px;
}

.remember-me a {
  color: #333;
  text-decoration: none;
  margin-left: auto;
  margin-left: 10px;
}

.remember-me a:hover {
  text-decoration: underline;
}

.login-form button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #224f7e;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 16px;
  text-shadow: none;
  text-transform: uppercase;
  color: antiquewhite;
}

.error-message {
  color: #ff4d4d;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
