body {
  background-color: #0d1b2a;
}
.container {
  width: 450px;
  background-color: rgba(27, 38, 59, 2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 10px;
}

.container h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
